@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}

.contactFirst{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: rgb(37, 21, 67, 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensures content is above the background */
}

.contactFirst::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1773113/pexels-photo-1773113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust the opacity of the background image */
    z-index: -1; /* Push the background behind the content */
}

.contactText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;

}

.contactForm{
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;

}

.contactBox{
    background-color: rgb(231 231 231);
    width: 100%;
    padding: 2px;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    height: 35px;
}