
.header-study1{
    position: relative; /* Added to allow .over-lay to position absolutely within */
    background-image: url('../../../assets/yhub.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-study2{
    position: relative; /* Added to allow .over-lay to position absolutely within */
    background-image: url('../../../assets/gschool.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-study3{
    position: relative; /* Added to allow .over-lay to position absolutely within */
    background-image: url('../../../assets/sdubai.jpg');
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.over-lay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-study .heading1, .header-study .heading2 {
    position: relative; /* This allows text to appear above the overlay */
    z-index: 2;
}


.heading1{
    color: #6d2950;
    z-index: 100;
    display: flex;
    font-size: 35px;
    font-weight: 700;
}

.heading2{
    color: #5a5358;
    font-size: 17px;
    font-weight: 700;
}